<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
 
 <suite name="Suite1" verbose="1" parallel="tests">
 
  <test name="Newtours Login" >
  <parameter name="browser" value="firefox"/>
     <classes>
       <class name="day000.LinksOnGrid" />
    </classes>
  </test>
 
  <test name="Newtours Login2" >
   <parameter name="browser" value="chrome"/>
     <classes>
       <class name="day000.LinksOnGrid" />
    </classes>
  </test>

  
</suite>